.form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 100%;
  height: 100%;

  gap: 2vw;
}

.input-container {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;
}
.input-container label {
  align-self: flex-start;
  
  width: 50%
}
.input-container input {
  align-self: flex-end;
  width: 50%
}
.row-s {
  align-self: flex-start;
}
.row-e {
  align-self: flex-start;
  margin-left: 15px;
}
